 html {
     font-size: 22px
  }

  body {
    background-color:  #ffffff;
    color:rgb(0, 0, 0);
  }

 a {
  clor: rgb(0, 0, 0);
 } 

 a:visited {
  color: rgb(0, 162, 255);
 }
 
 a:hover, a:active {
  color: #ff0000;
 }
 nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}
nav ul li a {
  color: rgb(0, 162, 255);
  text-decoration: none;
  font-weight: bold;
}
